.interest{
    width: 1170px;
    margin: 0 auto;
    padding: 48px 30px;
}
.interest__title{
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
.interest__separator{
    border-bottom: 3px solid rgb(185, 0, 0);
    width: 50px;
    margin: 0 auto;
}
.interest__blocks{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.interest__blocks__big-blockone{
    width: 570px;
    height: 570px;
    background: linear-gradient( rgba(19,17,20,0), rgba(19,17,20,1)), url(../img/interest/dance.jpg);
    background-size: cover;
}
.fon{
    transition: 0.1s linear;
}
.fon:hover{
    background-color: rgb(0, 0, 0, 0.1);
    height: 570px;
}   
.interest__blocks__big-blockone__link{
    height: 270px;
    color: white;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    font-weight: 700;
    line-height: 30px;
    padding: 0 20px;
    display: flex;
    flex-direction: column-reverse;
}
.interest__blocks__big-blockone__link:hover{
    text-decoration: underline;
}
.inte_linkone{
    text-decoration: none;
}
.int_span_linkone{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}
.int_span_linkone:hover{
    text-decoration: underline;
}
.interest__blocks__big-blockone__text__smalltitle{
    color: #C0C0C0;
}
.int_span_linktwo{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.int_span_linktwo:hover{
    text-decoration: underline;
}
.interest__blocks__big-blockone__text{
    padding: 5px 20px 0;
    line-height: 21px;
}
.interest__blocks__big-blockone__text__smalltext{
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}
.interest__blocks__big-blockone__like{
    display: flex;
    flex-wrap: wrap;
}
.like__link{
    text-decoration: none;
    display: flex;
    margin: 25px 100px 0 20px;
    box-sizing: content-box;
}
.linkthree{
    margin-right: 79px !important;
}
.like__link:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.like__text{
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.like__img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    opacity: 1;
}
.like__link:hover{
    opacity: 0.9;
}
.interest__blocks__small-blocks{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    gap: 30px;
}
.interest__blocks__small-block{
    width: 570px;
    height: 570px;
}
.interest__blocks__small-blocks__block{
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    transition: 0.1s linear;
    color: white;
}
.interest__blocks__small-blocks__link{
    text-decoration: none;  
}
.interest__blocks__small-blocks__block:hover{
    text-decoration: underline;
}
.bgimg{
    background-size:cover;
    width: 170px;
    height: 170px
}
.blbgone{
    background-image:
    linear-gradient(to top, rgba(162, 105, 78, 0.7), rgba(162, 105, 78,0.7)),
    url(../img/interest/rock.jpg);
}
.textblone:hover{
    background-color: rgb(162, 105, 78, 0.2);
}
.blbgtwo{
    background-image:
    linear-gradient(to top, rgba(124,118,98, 0.7), rgba(124,118,98,0.7)),
    url(../img/interest/rap.jpg);
}
.textbltwo:hover{
    background-color: rgb(124, 118, 98, 0.2);
}
.blbgthree{
    background-image:
    linear-gradient(to top, rgba(18,18,20, 0.7), rgba(18,18,20,0.7)),
    url(../img/interest/indie.jpg);
}
.textblthree:hover{
    background-color: rgb(18, 18, 20, 0.2);
}
.blbgfour{
    background-image:
    linear-gradient(to top, rgba(68,68,68, 0.7), rgba(68,68,68,0.7)),
    url(../img/interest/jazz.jpg);
}
.textblfour:hover{
    background-color: rgb(68, 68, 68, 0.2);
}
.blbgfive{
    background-image:
    linear-gradient(to top, rgba(168,104,28, 0.7), rgba(168,104,28,0.7)),
    url(../img/interest/reggae.jpg);
}
.textblfive:hover{
    background-color: rgb(168, 104, 28, 0.2);
}
.blbgsix{
    background-image:
    linear-gradient(to top, rgba(7,6,13, 0.7), rgba(7,6,13,0.7)),
    url(../img/interest/british.jpg);
}
.textblsix:hover{
    background-color: rgb(7, 6, 13, 0.2);
}
.blbgseven{
    background-image:
    linear-gradient(to top, rgba(141,116,0, 0.7), rgba(141,116,0,0.7)),
    url(../img/interest/punk.jpg);
}
.textblseven:hover{
    background-color: rgb(141,116,0, 0.2);
}
.blbgeight{
    background-image:
    linear-gradient(to top, rgba(65,70,84, 0.7), rgba(65,70,84,0.7)),
    url(../img/interest/80s.jpg);
}
.textbleight:hover{
    background-color: rgb(65,70,84, 0.2);
}
.blbgnine{
    background-image:
    linear-gradient(to top, rgba(0,11,14, 0.7), rgba(0,11,14,0.7)),
    url(../img/interest/electronic_one.jpg);
}
.textblnine:hover{
    background-color: rgb(0,11,14, 0.2);
}
.smallblockstwo{
    margin: 30px 30px 0 0;
}
.blbg10{
    background-image:
    linear-gradient(to top, rgba(165,104,51, 0.7), rgba(165,104,51,0.7)),
    url(../img/interest/acoustic.jpg);
}
.textbl10:hover{
    background-color: rgb(165,104,51, 0.2);
}
.blbg11{
    background-image:
    linear-gradient(to top, rgba(164,82,43, 0.7), rgba(164,82,43,0.7)),
    url(../img/interest/rnb.jpg);
}
.textbl11:hover{
    background-color: rgb(164,82,43, 0.2);
}
.blbg12{
    background-image:
    linear-gradient(to top, rgba(97,97,97, 0.7), rgba(97,97,97,0.7)),
    url(../img/interest/hardcore.jpg);
}
.textbl12:hover{
    background-color: rgb(97,97,97, 0.2);
}
.blbg13{
    background-image:
    linear-gradient(to top, rgba(54,54,54, 0.7), rgba(54,54,54,0.7)),
    url(../img/interest/country.jpg);
}
.textbl13:hover{
    background-color: rgb(54,54,54, 0.2);
}
.blbg14{
    background-image:
    linear-gradient(to top, rgba(168,25,42, 0.7), rgba(168,25,42,0.7)),
    url(../img/interest/blues.jpg);
}
.textbl14:hover{
    background-color: rgb(168,25,42, 0.2);
}
.blbg15{
    background-image:
    linear-gradient(to top, rgba(61,110,176, 0.7), rgba(61,110,176,0.7)),
    url(../img/interest/alternative.jpg);
}
.textbl15:hover{
    background-color: rgb(61,110,176, 0.2);
}
.blbg16{
    background-image:
    linear-gradient(to top, rgba(79,83,58, 0.7), rgba(79,83,58,0.7)),
    url(../img/interest/classical.jpg);
}
.textbl16:hover{
    background-color: rgb(79,83,58, 0.2);
}
.blbg17{
    background-image:
    linear-gradient(to top, rgba(89,122,145, 0.7), rgba(89,122,145,0.7)),
    url(../img/interest/rap2.jpg);
}
.textbl17:hover{
    background-color: rgb(89,122,145, 0.2);
}
.blbg18{
    background-image:
    linear-gradient(to top, rgba(54,54,54, 0.7), rgba(54,54,54,0.7)),
    url(../img/interest/country2.jpg);
}
.textbl18:hover{
    background-color: rgb(54,54,54, 0.2);
}
.bigblocktwo{
    margin-top: 30px;
    background: 
    linear-gradient( rgba(74,68,47,0), rgba(74,68,47,1)),
    url(../img/interest/big\ meatal.jpg);
    background-size: cover;
}
.secondblocklink1{
    margin-right: 65px;
}
.secondblocklink3{
    margin-right: 125px;
}
@media screen and (min-width: 990px) and (max-width: 1326px){
    .interest{
        width: 940px;
        margin: 0 auto;
        padding: 48px 20px;
    }
    .interest__blocks__big-blockone{
        width: 460px;
        height: 460px;
    }
    .fon:hover{
        height: 460px;
    }   
    .interest__blocks__big-blockone__link{
        height: 184px;
    }
    .like__img{
        width: 60px;
        height: 60px;
    }
    .like__link{
        margin: 25px 55px 0 20px;
    }
    .linkthree{
        margin-right: 35px !important;
    }
    .interest__blocks__small-block{
        width: 460px;
        height: 460px;
    }
    .interest__blocks__small-blocks__block{
        width: 140px;
        height: 140px;
    }
    .bgimg{
        background-size:cover;
        width: 140px;
        height: 140px
    }
    .interest__blocks__small-blocks{
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 460px;
        row-gap: 20px;
        column-gap: 20px;
    }
    .interest__blocks__small-blocks__link{
        width: 140px;
        height: 140px;
    }
    .smallblockstwo{
        margin: 20px 20px 0 0;
    }
    .bigblocktwo{
        margin-top: 20px;
    }
    .secondblocklink1{
        margin-right: 30px;
    }
    .secondblocklink3{
        margin-right: 89px;
    }
}