.last{
    width: 1170px;
    margin: 0 auto;
    padding: 48px 30px;
}

.last__title__title{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(34, 34, 34);
}
.last__title__separator{
    width: 50px;
    border-bottom: 3px solid rgb(185, 0, 0);
    padding-top: 18px;
    margin: 0 auto;
}
.last__blocks{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.album__links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.last__name__link, .last__nick__link{
    text-decoration: none;
    display: inline;
}
.last__name__link:hover, .last__nick__link:hover{
    text-decoration: underline;
    display: inline;
}
.last__name__link:visited, .last__nick__link:visited{
    color: rgb(34, 34, 34);
}
.last__name__link:link, .last__nick__link:link{
    color: rgb(34, 34, 34);
}
.last__blocks__album__name{
    margin-top: 12px;
    margin-bottom: 2px;
}
.last__blocks__album__name, .last__blocks__album__nick{
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 21px;
    color: rgb(34, 34, 34);
}
.last__blocks__album__nick{
    font-weight: 400 !important;
}
.last__blocks__album__date{
    font-size: 12px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 21px;
    color: rgb(153, 153, 153);
    margin-top: 3px;
}
.last__album__card{
    width: 170px;
    height: 170px;
    background:#000;
    overflow:hidden;
 }
 .last__album__img{
  display: block;
  width: 170px;
  background:#000;
  overflow:hidden;
  transition: 0.1s linear;
 }
 .last__album__button{
    position: relative;
    bottom: 115px;
    left: 55px;
    color: white;
    background: inherit;
    font-size: 60px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    visibility: hidden;
    opacity: 60%;
 }
 .last__album__img:hover{
    opacity: 0.8;
 }
 .last__blocks__album:hover .last__album__button{
    visibility: visible;
 }
 .last__album__button:hover{
    opacity: 90%;
 }
.last__show-nem-rel{
    margin-top: 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
}
.last__show-n-r__link{
   text-decoration: none;
   color:#005399;
}
.last__show-n-r__link:hover{
    text-decoration: underline;
}
.last__show-nem-rel-icon{
    padding-left: 8px;
}
@media screen and (min-width: 990px) and (max-width: 1326px){
    .last{
        width: 940px;
        padding: 48px 20px;
    }
    .last__blocks{
        margin-top: 24px;
        gap: 20px;
    }
    .last__album__card{
        width: 140px;
        height: 140px;
     }
     .last__album__img{
      width: 140px;
     }
}