.show{
   width: 1170px;
   margin: 0 auto;
}
.show__title{
   font-family: 'Barlow', sans-serif;
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   line-height: 24px;
   color: rgb(34, 34, 34);
}
.show__separator{
   width: 50px;
   border-bottom: 3px solid rgb(185, 0, 0);
   padding-top: 18px;
   margin: 0 auto;
}
.show__blocks{
   display: flex;
   flex-wrap: wrap;
   column-gap: 28px;
}
.show__blocks__block{
   display: flex;
   flex-wrap: wrap;
   width: 370px;
   margin-top: 24px;
}
.show__blocks__block__left__img{
   display: flex;
   flex-direction: column;
}
.show__blocks__block__text__nickname{
   margin-top: 12px;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Barlow', sans-serif;
   line-height: 21px;
}
.show__blocks__block__text__pict{
   margin-top: 3px;
   font-size: 12px;
   line-height: 18px;
   color: #999;
}
.show__nick__link{
   color: rgb(34, 34, 34);
   text-decoration: none;
}
.show__nick__link:hover{
   text-decoration: underline;
}
.show__album__big-card{
   width: 276.87px;
   height: 277.87px;
   background:#000;
   overflow:hidden;
}
.show__album__big-img{
   display: block;
   width: 276.87px;
   height: 277.87px;
   background:#000;
   overflow:hidden;
   transition: 0.1s linear;
}
.show__album__big-img:hover{
   opacity: 0.8;
}
.show__album__card{
   width: 92.86px;
   height: 92.86px;
   background:#000;
   overflow:hidden;
}
.show__album__img{
   display: block;
   width: 92.86px;
   height: 92.86px;
   background:#000;
   overflow:hidden;
   transition: 0.1s linear;
}
.show__album__img:hover{
   opacity: 0.8;
}
.show__show-all{
   margin-top: 26px;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   font-family: 'Barlow', sans-serif;
   display: flex;
   justify-content: center;
   visibility: hidden;
}
.show__show-all__link{
  text-decoration: none;
  color:#005399;
  text-align: center;
}
.show__show-all__link:hover{
   text-decoration: underline;
}
.show__show-all-icon{
   padding-left: 8px;
}
@media screen and (min-width: 990px) and (max-width: 1326px){
   .show{
      width: 940px;
   }
   .show__blocks{
      column-gap: 18px;
   }
   .show__blocks__block{
      width: 300.6px;
   }
   .show__album__big-card{
      width: 225.3px;
      height: 226.3px;
   }
   .show__album__big-img{
      width: 225.3px;
      height: 226.3px;
   }
   .show__album__card{
      width: 75.3px;
      height: 75.3px;
   }
   .show__album__img{
      width: 75.3px;
      height: 75.3px;
   }
}
@media screen and (min-width: 420px) and (max-width: 1023px){
   .show{
      width: 390px;
   }
   .shpw__tel__adapt__none{
      display: none;
   }
   .show__blocks__block{
      margin: 24px auto 0;
   }
   .show__show-all{
      visibility: visible;
   }
}