.music-title{
    width: 1170px;
    padding-top: 105px;
    margin: 0 auto;
}
.music-title__text{
    display: flex;
    margin-top: 18px;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.music-title__title{
    font-size: 48px;
    line-height: 54px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    letter-spacing: -0.4px;
}
.music-title__link1{
    text-decoration: none;
    color: #b90000;
    cursor: pointer;
    font-weight: 700;
}
.music-title__link2{
    text-decoration: none;
    color: rgb(34, 34, 34);
    cursor: pointer;
    margin-left: 15px;
}   
.music-title__link1:hover{
    text-decoration: underline;
}
.music-title__link2:hover{
    text-decoration: underline;
    text-decoration-color:rgb(34, 34, 34) ;
    text-decoration-
}