.popular{
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 48px;
}
.popular__title{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 49px;
    display: flex;
    justify-content: center;
}
.popular__separator{
    border-bottom: 2px solid rgb(185, 0, 0);
    width: 50px;
    margin: 18px auto 0;
}
.popular__blocks{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    column-gap: 70px;
    row-gap: 24px;
}
.popular__blocks__block{
    display: flex;
    width: 340px;
}
.popular__blocks__block__text{
  gap: 4px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.pop__dot{
    font-size: 1px;
    color: #909090;
    display: flex;
    align-items: center;
 }
 .popular__blocks__block__genre__type__link{
    color: #909090;
    text-decoration: none;
 }
 .popular__blocks__block__genre__type__link:hover{
    text-decoration: underline;
 }
 .popular__blocks__block__genre__type{
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    line-height: 18px;
 }
 .popular__blocks__block__genre{
    display: flex;
    gap: 5px;
    margin-top: 2px;
}
.popular__name__link, .popular__nickname__link{
    color: rgb(34, 34, 34);
    text-decoration: none;
}
.popular__nickname__link:hover{
    text-decoration: underline;
}
.popular__name__link:hover{
    text-decoration: underline;
}
.popular__name{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    line-height: 21px;
    color: rgb(34, 34, 34);
}
.popular__nickname{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: rgb(34, 34, 34);
    line-height: 21px;
}
.pop__album__card{
    width: 70px;
    height: 70px;
    background:#000;
    overflow:hidden;
 }
 .pop__album__img{
  display: block;
  width: 70px;
  background:#000;
  overflow:hidden;
  transition: 0.1s linear;
 }
 .pop__album__img:hover{
    opacity: 0.8;
 }
 .pop__album__button{
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    background: inherit;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    visibility: hidden;
    opacity: 60%;
 }
 .popular__blocks__block:hover .pop__album__button{
    visibility: visible;
 }
 .pop__album__button:hover{
  opacity: 90%;
 }
 .pop__show-all{
    margin-top: 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    visibility: hidden;
    justify-content: center;
 }
 .pop__show-all__link{
   text-decoration: none;
   color:#005399;
 }
 .pop__show-all__link:hover{
    text-decoration: underline;
 }
 .pop__show-all-icon{
    padding-left: 8px;
 }
 @media screen and (min-width: 990px) and (max-width: 1326px){
    .popular{
        width: 940px;
    }
    .pop__album__card{
        width: 60px;
        height: 60px;
     }
     .pop__album__img{
      width: 60px;
      height: 60px;
     }
     .popular__blocks__block{
        width: 300px;
    }
     .popular__blocks{
        column-gap: 20px;
        row-gap: 24px;
    }
    .pop__album__button{
        position: relative;
        bottom: 45px;
        left: 16px;
     }
     .pop__adapt__sp{
        font-size: 12px;
     }
 }
 @media screen and (min-width: 420px) and (max-width: 989px){
    .popular{
        width: 390px;
        padding-bottom: 36px;
    }
    .pop__tel__adapt__none{
        display: none;
    }
    .popular__blocks__block{
        margin: 0 auto;
    }
    .pop__show-all{
        visibility: visible;
     }
 }