.soon{
   width: 1170px;
   margin: 0 auto;
   padding: 50px 30px 36px;
}
.soon__title__title{
   font-family: 'Barlow', sans-serif;
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   line-height: 24px;
   color: rgb(34, 34, 34);
}
.soon__title__separator{
   width: 50px;
   border-bottom: 3px solid rgb(185, 0, 0);
   padding-top: 18px;
   margin: 0 auto;
}
.soon__blocks{
   margin-top: 24px;
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.soon__album__links{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.soon__name__link, .soon__nick__link{
   text-decoration: none;
   display: inline;
}
.soon__name__link:hover, .soon__nick__link:hover{
   text-decoration: underline;
   display: inline;
}
.soon__name__link:visited, .soon__nick__link:visited{
   color: rgb(34, 34, 34);
}
.soon__name__link:link, .soon__nick__link:link{
   color: rgb(34, 34, 34);
}
.soon__blocks__album__name{
   margin-top: 12px;
   margin-bottom: 2px;
}
.soon__blocks__album__name, .soon__blocks__album__nick{
   font-size: 14px;
   font-family: 'Barlow', sans-serif;
   font-weight: 700;
   line-height: 21px;
   color: rgb(34, 34, 34);
}
.soon__blocks__album__nick{
   font-weight: 400 !important;
}
.soon__blocks__album__date{
   font-size: 12px;
   font-family: 'Barlow', sans-serif;
   font-weight: 400;
   line-height: 21px;
   color: rgb(153, 153, 153);
   margin-top: 3px;
}
.soon__show-all{
   margin-top: 26px;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   font-family: 'Barlow', sans-serif;
   display: flex;
   justify-content: center;
}
.soon__show-all__link{
  text-decoration: none;
  color:#005399;
}
.soon__show-all__link:hover{
   text-decoration: underline;
}
.soon__show-all-icon{
   padding-left: 8px;
}
.soon__album__card{
   width: 170px;
   height: 170px;
   background:#000;
   overflow:hidden;
}
.soon__album__img{
   display: block;
   width: 170px;
   background:#000;
   overflow:hidden;
   transition: 0.1s linear;
}
.soon__album__button{
   position: relative;
   bottom: 115px;
   left: 55px;
   color: white;
   background: inherit;
   font-size: 60px;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   visibility: hidden;
   opacity: 60%;
}
.soon__album__img:hover{
   opacity: 0.8;
}
.soon__blocks__album:hover .soon__album__button{
   visibility: visible;
}
.soon__album__button:hover{
   opacity: 90%;
}
@media screen and (min-width: 990px) and (max-width: 1326px){
   .soon{
      width: 940px;
      padding: 0 20px 36px;
   }
   .soon__album__card{
      width: 140px;
      height: 140px;
   }
   .soon__album__img{
      width: 140px;
   }
   .soon__blocks{
      gap: 20px;
   }
   .soon__adapt__sp{
      font-size: 12px;
   }
   .soon__album__button{
      position: relative;
      bottom: 102px;
      left: 44px;
      font-size: 55px;
   }
}
@media screen and (min-width: 420px) and (max-width: 989px){
   .soon{
      width: 390px;
      margin: 0 auto;
      padding: 0 15px 36px;
  }
  .soon__tel__adapt__none{
      display: none;
  }
  .soon__blocks{
      gap: 15px;
  }
  .soon__album__card{
      width: 187.5px;
      height: 187.5px;
   }
   .soon__album__img{
    width: 187.5px;;
   }
   .soon__album__button{
      position: relative;
      bottom: 125px;
        left: 65px;
      font-size: 55px;
   }
}
